<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="layout base" />

    <link rel="stylesheet" type="text/css" media="screen" href="css/layout.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/fonts.css">

    <title>Title</title>
</head>

<body class="debug">

<div class="dev-layout-main"></div>

<div class="wrap">

    <div class="main clearfix">
        <div class="header">
            <div class="left-col">
                <div class="logo">
                    <h2>ТОМСКИЙ НИИ КУРОРТОЛОГИИ И ФИЗИОТЕРАПИИ</h2>
                    <h3>ФЕДЕРАЛЬНОГО МЕДИКО-БИОЛОГИЧЕСКОГО АГЕНСТВА</h3>
                </div>
            </div>


            <div class="right-col">
                <table class="main-menu">
                    <tr>
                        <td><span>О НИИ</span></td>
                        <td><a href="#">НАУЧНАЯ ДЕЯТЕЛЬНОСТЬ</a></td>
                        <td><a href="#">ЛЕЧЕНИЕ И ОЗДОРАВЛЕНИЕ</a></td>
                    </tr>
                </table>

                <ul class="submenu">
                    <li><a href="#">События</a></li>
                    <li><a href="#">История</a></li>
                    <li><a href="#">Виртуальный тур</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Перечень услуг</a></li>
                    <li><a href="#">Гостевая книга</a></li>
                    <li><a href="#">Контактная информация</a></li>
                </ul>

            </div>


        </div>


        <div class="main-b">
            <div class="left-col">
                <h2>Научно-практическая деятельность</h2>
                <ul>
                    <li><a href="#">Медико-биологическое сопровождение спорта высших достижений</a></li>
                    <li><a href="#">Применение препаратов на основе регионального природного сырья</a></li>
                    <li><a href="#">Технологии оздоровления и медицинской реабилитации</a></li>
                    <li><a href="#">Перспективы развития санаторно-курортной отрасли Сибирского региона</a></li>
                    <li><a href="#">Курация научно-методической работы санаторно-курортных учреждений Сибирского</a></li>
                    <li><a href="#">Клинические исследования лекарственных препаратоврегиона</a></li>
                    <li><a href="#">Регенеративная медицина</a></li>
                    <li><a href="#">Образовательная деятельность</a></li>
                </ul>
            </div>

            <div class="right-col">
                <h2>Лечение и оздоровление</h2>
                <ul>
                    <li><a href="#">Детское отделение</a></li>
                    <li><a href="#">Гинекологическое отделение</a></li>
                    <li><a href="#">Терапевтическое отделение</a></li>
                    <li><a href="#">Неврологическое отделение</a></li>
                    <li><a href="#">Урологическое отделение</a></li>
                    <li><a href="#">Диагностика</a></li>
                    <li><a href="#">Физиобальнеотерапевтическое отделение</a></li>
                    <li><a href="#">Отделение физической реабилитации</a></li>
                </ul>

            </div>

        </div>


    </div>

</div>

<div class="footer">
    <h2>I am footer</h2>
</div>

</body>
</html>
