<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="layout base" />

    <link rel="stylesheet" type="text/css" media="screen" href="css/layout.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/fonts.css">

    <title>Title</title>
</head>

<body class="no-debug">

<div class="dev-layout dev-inner-2-layout-1"></div>

<div class="wrap">

    <div class="main clearfix">
        <div class="header">
            <div class="left-col">
                <div class="logo">
                    <h2>ТОМСКИЙ НИИ КУРОРТОЛОГИИ И ФИЗИОТЕРАПИИ</h2>
                    <h3>ФЕДЕРАЛЬНОГО <span>МЕДИКО-БИОЛОГИЧЕСКОГО</span> АГЕНСТВА</h3>
                </div>
            </div>


            <div class="right-col">
                <table class="main-menu">
                    <tr>
                        <td><a href="#">О НИИ</a></td>
                        <td><a href="#">НАУЧНАЯ ДЕЯТЕЛЬНОСТЬ</a></td>
                        <td><span>ЛЕЧЕНИЕ И ОЗДОРАВЛЕНИЕ</span></td>
                    </tr>
                </table>

                <ul class="submenu">
                    <li><a href="#">Перечень услуг</a></li>
                    <li><span>Лечебные методы</span></li>
                    <li><a href="#">Детское отделение</a></li>
                    <li><a href="#">Гинекологическое отделение</a></li>
                    <li><a href="#">Терапевтическое отделение</a></li>
                    <li><a href="#">Неврологическое отделение</a></li>
                    <li><a href="#">Урологическое отделение</a></li>
                </ul>

            </div>


        </div>

        <div style="clear:both"></div>
        <div class="inner-content">
            <div class="left-col">
                <div class="section-menu">
                    <h4>Постоянные и импульсные токи</h4>
                    <ul>
                        <li><a href="#">Светолечение</a></li>
                        <li><a href="#">Ингаляторий</a></li>
                        <li><a href="#">КВЧ-терапия</a></li>
                        <li><a href="#">Вибротерапия</a></li>
                        <li><a href="#">Магнитотерапия</a></li>
                        <li><a href="#">Электросон</a></li>
                        <li><a href="#">Лазеротерапия</a></li>
                        <li><a href="#">Ультразвуковая терапия</a></li>
                        <li><a href="#">Высокочастотная терапия</a></li>
                        <li><a href="#">Ингаляторий</a></li>
                        <li><a href="#">Ударно-волновоя терапия</a></li>
                    </ul>
                </div>

                <div class="section-header">
                    <h3>НОВОСТИ И СОБЫТИЯ</h3>
                    <a href="#">Архив</a>
                </div>

                <div class="section-item">
                    <p><a href="#">Доступ в интернет</a></p>
                    <p>С 1 февраля 2011 для пациентов Томского НИИ курортологии и физиотерапии организован
                        безлимитный широкополосный доступ в сеть Интернет. </p>
                </div>

                <div class="section-item">
                    <p><a href="#">Информационно-вычислительный центр</a></p>
                    <p>С 1 февраля 2011 для пациентов Томского НИИ курортологии и физиотерапии</p>
                </div>


            </div>


            <div class="right-col">
                <div class="section-content-header">
                    <ul class="breadcrumbs">
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Лечение и оздоровление</a></li>
                        <li><a href="#">Лечебные методы</a></li>
                    </ul>
                    <h1>Физиобальнеотерапевтическое отделение</h1>
                </div>

                <div class="section-content">
                    <a href="#" class="masked-cat" style="background-image: url('images/cat1.jpg')">
                        <div class="cat-mask"></div>
                    </a>



                </div>

            </div>

            <div style="clear: both"></div>
        </div>




    </div>

</div>

<div class="footer">

    <div style="clear: both"></div>
    <div class="pre-footer">
        <div class="b-left item" style="background-image: url('images/b-1.jpg')">
            <h2><a href="#">Виртуальный тур</a></h2>
        </div>

        <div class="b-right item" style="background-image: url('images/b-2.jpg')">
            <h2><a href="#">Историческая справка</a></h2>
        </div>

    </div>

    <div style="clear:both"></div>
    <div class="search-bar">
        <a href="#">Карта сайта</a>
        <a href="#">Гостевая книга</a>

        <form method="get" action="#">
            <label>
                Поиск по сайту
                <input type="text" name="query" />
            </label>
            <button type="submit">Поиск</button>
        </form>
    </div>

    <div class="navigation">
        <div class="column col1">
            <h3>О НИИ</h3>
            <ul>
                <li><a href="#">События</a></li>
                <li><a href="#">История</a></li>
                <li><a href="#">Виртуальный тур</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Гостевая книга</a></li>
                <li><a href="#">Контактная информация</a></li>
            </ul>
        </div>

        <div class="column col2">
            <h3>НАУКА</h3>
            <ul>
                <li><a href="#">Экспериментальные и клинические исследования</a></li>
                <li><a href="#">Наши новые технологий лечения и профилактики</a></li>
                <li><a href="#">Рациональное природопользование</a></li>
                <li><a href="#">Образовательная деятельность</a></li>
            </ul>
        </div>

        <div class="column col3">
            <h3>КЛИНИКА</h3>
            <ul>
                <li><a href="#">Лечебные методы</a></li>
                <li><a href="#">Перечень услуг</a></li>
                <li><a href="#">Детское отделение</a></li>
                <li><a href="#">Гинекологическое отделение</a></li>
                <li><a href="#">Терапевтическое отделение</a></li>
                <li><a href="#">Неврологическое отделение</a></li>
                <li><a href="#">Урологическое отделение</a></li>
            </ul>
        </div>


    </div>

    <div class="contacts">
        <div class="icon-phone">
            <h4>Маркетинг</h4>
            (3822) 51-20-05
        </div>

        <div class="icon-phone">
            <h4>Клинико-поликлиническое отделение</h4>
            (3822) 51-20-05
        </div>

        <address class="icon-address">
            ул. Розы Люксембург, 1
        </address>

        <div class="icon-email">
            <a href="mailto:prim@niikf.tomsk.ru">prim@niikf.tomsk.ru</a>
        </div>

        <p>
            &copy; 2012  Томский НИИ Курортологии<br />
            и физиотерапии
        </p>

        <p>
            Сделано в <a href="#">Системосинтез</a><br />
            Работает на <a href="">Amiro.CMS</a>
        </p>

    </div>
    <div class="ending"></div>


</div>

</body>
</html>
