.debug .wrap, .debug .footer {
    opacity: 0.8
}

.debug .dev-layout-main {
    background: url('../images/niikif-index-layout.jpg') top center no-repeat;
    position: absolute;
    height: 1616px;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: -1;
}


/* some resets */
html, body, div, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
/* end of some resets */

/* sticky footer */
html, body, .wrap { height: 100%; }

body > .wrap {height: auto; min-height: 100%;}

.main { padding-bottom: 150px; }  /* must be same height as the footer */

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;}

/* CLEAR FIX*/
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* end of sticky footer */



/* centered main block*/
.main, .footer {
    left: 50%;
    margin-left: -471px;
    position: relative;
    width: 941px;
}
/* end of centered main block */



/* custom blocks */

.header {
    height: 188px;
}

.header .logo {
    background: url('../images/logo.gif') -29px 0 no-repeat;
    text-indent: -9999px;
    height: 188px;
}


.left-col {
    width: 457px;
    float: left;
    margin-right: 27px;
}

.right-col {
    width: 457px;
    float: left;
}



.main-menu {
    text-align: justify;
    padding:0;
    margin:0;
    font: 12px 'OpenSansBold';
}

.menu-item_outerWrap {
    display: inline;
}

.menu-item {
    background-color: Green;
    display: inline-block;
    padding: 5px 15px;
    position: relative;
    text-align: left;
}

* html .menu-item {
    display: inline;
    zoom: 1;
}

*+html .menu-item {
    display: inline;
    zoom: 1;
}

.menu-item_innerWrap {
    display: block;
}

.menu-item_sizer {
    width: 100%;
}

.menu-item-icon {
    background-color: Red;
    height: 5px;
    position: absolute;
    right: 0;
}
