.debug .wrap, .debug .footer {
    opacity: 0.8
}

.debug .dev-index-layout {
    background: url('../images/niikif-index-layout.jpg') top center no-repeat;
    height: 1616px;
}

.debug .dev-inner-2-layout-1 {
    background: url('../images/niikif-inner-2-layout-1.jpg') center -16px no-repeat;
    height: 1532px;
}

.debug .dev-inner-2-layout-3 {
    background: url('../images/niikif-inner-2-layout-3.jpg') center -16px no-repeat;
    height: 1532px;
}


.debug .dev-layout {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: -1;
}


/* some resets */
html, body, div, h1, h2, h3, h4, ul, table, p {
    margin: 0;
    padding: 0;
}
/* end of some resets */

/* sticky footer */
html, body, .wrap { height: 100%; }

body > .wrap {height: auto; min-height: 100%;}

.main { padding-bottom: 543px; }  /* must be same height as the footer */

.footer {
    position: relative;
    margin-top: -543px; /* negative value of footer height */
    height: 515px;
    clear:both;}

/* CLEAR FIX*/
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* end of sticky footer */



/* centered main block*/
.main, .footer {
    left: 50%;
    margin-left: -471px;
    position: relative;
    width: 941px;
}
/* end of centered main block */

a {
    color: #DC5A00;
}

body {
    font-family: 'OpenSansRegular', 'Myriad Pro', 'Trebuchet MS', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
    font-weight: normal;
}

/* custom blocks */

.header {
    height: 188px;
}

.header .logo {
    background: url('../images/logo.gif') -29px 0 no-repeat;
    text-indent: -9999px;
    height: 188px;
    display: block;
    position: relative;
    color: #000;
}

.header .logo h3 span {
    white-space: nowrap;
}

.header .logo h3 {
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: Garamond,Georgia,"Times New Roman",sans-serif;
    font-size: 11px;
    font-weight: normal;
    left: 147px;
    line-height: 15px;
    padding-right: 27px;
    position: absolute;
    text-indent: 0;
    top: 100px;
    width: 146px;
}

.left-col {
    width: 457px;
    float: left;
    margin-right: 27px;
}

.right-col {
    width: 457px;
    float: left;
}

/* main menu */

.main-menu {
    border-collapse: collapse;
    border-top: 3px solid #389674;
    border-bottom: 1px solid #389674;
    font-size: 12px;
    font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
    height: 49px;
    margin: 39px 0 0;
    padding: 0;
    text-align: justify;
    width: 100%;
}

.main-menu td {
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-menu span, .main-menu a {
    line-height: 45px;
    padding: 0 8px;
    display: block;
}

.main-menu span {
    background: none repeat scroll 0 0 #389674;
    color: #FFFFFF;
}

.main-menu a {
    color: #389674;
    background: #fff;
    text-decoration: none;
}

/* main menu */


/* main submenu */

.submenu {
    list-style-type: none;
    padding: 10px 0;
    margin-top: -3px;
}

.submenu li {
    color: #DC5A00;
    float: left;
    font-family: 'OpenSansRegular',sans-serif;
    font-size: 13px;
    line-height: 28px;
    margin-right: 7px;
}

.submenu li a {
    color: #DC5A00;
    padding: 5px 10px;
}

.submenu li span {
    color: #fff;
    background: #f68047;
    padding: 5px 10px;
}


/* main submenu */


/* main-b */
.main-b h2 {
    text-indent: -9999px;
}

.main-b ul {
    list-style-type: none;
}

.main-b ul li {
    background: url("../images/sprite.png") no-repeat scroll 0 -247px transparent;
    margin-left: -17px;
    padding-left: 17px;
}

.main-b .left-col ul {
    margin-left: 44px;
    margin-top: 74px;
}

.main-b .right-col ul {
    margin-left: 51px;
    margin-top: 83px;
}

.main-b ul a, .main-b ul li {
    color: #FFFFFF;
    font-family: 'OpenSansRegular',sans-serif;
}

.main-b .left-col ul li {
    margin-top: 5px;
}

.main-b .right-col ul li {
    margin-top: 10px;
}

.main-b .left-col ul a, .main-b .left-col ul li {
    font-size: 14px;
    line-height: 15px;
}

.main-b .right-col ul a, .main-b .left-col ul li {
    font-size: 16px;
    line-height: 17px;
}

.main-b .left-col {
    height: 380px;
    background: url('../images/main-bg.jpg') 0 0 no-repeat;
}

.main-b .right-col {
    height: 380px;
    background: url('../images/main-bg.jpg') 0 -380px no-repeat;
}


/* main-b */


/* main-content */
.main-content {
    clear: both;
    font-family: 'OpenSansRegular',sans-serif;
    font-size: 12px;
    margin-top: 12px;
}

.main-content .left-col {
    width: 617px;
}

.main-content .right-col {
    margin-left: 22px;
    width: 274px;
}

.section-header {
    border-bottom: 1px solid #515151;
    border-top: 4px solid #515151;
    height: 41px;
    line-height: 42px;
    margin-bottom: 8px;
    margin-top: 21px;
}

.section-header h3,.section-header h1 {
    float: left;
    font-size: 13px;
    margin-left: 14px;
    color: #252525;
}

.section-header a {
    float: right;
    margin-right: 10px;
}

.main-content .right-col .section-header h3 {
    float: left;
    font-size: 13px;
    margin-left: 9px;
}



.main-content .big-first-letter:first-letter {
    display: block;
    float: left;
    font-size: 62px;
    line-height: 52px;
    margin-left: -10px;
}

.main-content p {
    line-height: 20px;
    padding-left: 10px;
    font-size: 11px;
    letter-spacing: 0.63px;
    margin-top: 2px;
}

.main-content .right-col p {
    padding-left: 2px;
}

.section-item {
    margin-bottom: 3px;
}

/* main-content */




/* pre-footer */
.pre-footer {
    margin-top: 28px;
    height: 165px;
}

.pre-footer .item {
    background-position: right center;
    background-repeat: no-repeat;
    float: left;
    height: 112px;
    margin-left: 20px;
    padding-top: 20px;
    width: 374px;
}

.pre-footer .b-right {
    margin-left: 131px;
    width: 396px;
}

.pre-footer h2 {
    font-family: 'OpenSansSemibold', sans-serif;
    font-size: 23px;
    width: 200px;
    float: left;

}

/* pre-footer */


/* search-bar */
.search-bar {
    background: #019760;
    height: 61px;
    line-height: 61px;
    font-size: 14px;
}

.search-bar a {
    color: #FFFFFF;
    margin-left: 27px;
    margin-right: 62px;
}

.search-bar form {
    float: right;
    line-height: 24px;
    margin-right: 23px;
    margin-top: 17px;
}
.search-bar form input {
    margin-left: 8px;
    margin-right: 3px;
    height: 14px;
    width: 308px;
}
.search-bar form button {
    height: 24px;
    width: 64px;
}
.search-bar form label {
    color: #003c26;
}

/* search-bar */


/* navigation */
.navigation {
    background: none repeat scroll 0 0 #F1EEE8;
    font-size: 12px;
    height: 245px;
    margin-top: 12px;
    padding-left: 29px;
    padding-top: 12px;
    width: 594px;
    float: left;
    margin-right: 6px;
}

.navigation .column {
    float: left;
}

.navigation .col1 {
    width: 177px;
}
.navigation .col2 {
    margin-right: 19px;
    width: 193px;
}
.navigation .col3 {
    width: 177px;
}

.navigation ul {
    list-style-type: none;
}

.navigation h3 {
    color: #111111;
    font-size: 12px;
    margin-bottom: 12px;
}

.navigation ul li {
    font-size: 12px;
    line-height: 15px;
    margin-top: 12px;
}

.navigation a {
    color: #4b8a71;
}
/* navigation */


/* contacts */
.contacts {
    background: none repeat scroll 0 0 #F1EEE8;
    font-size: 14px;
    height: 245px;
    margin-top: 12px;
    padding-left: 29px;
    padding-top: 12px;
    width: 283px;
    float: left;
}

.contacts h4, .contacts p {
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #7f7f7f;
}

.icon-phone, .icon-address, .icon-email {
    padding-left: 25px;
}

.icon-phone {
    background: url('../images/sprite.png') no-repeat 0 0;
    padding-top: 2px;
}
.icon-address {
    background: url('../images/sprite.png') no-repeat 0 -89px;
}
.icon-email {
    background: url('../images/sprite.png') no-repeat 0 -176px;
}

.contacts .icon-address {
    font-style: normal;
    height: 22px;
    margin-top: 12px;
}

.contacts .icon-email {
    font-style: normal;
    height: 42px;
    margin-top: 6px;
}

.contacts p {
    margin-bottom: 12px;
}
.contacts p a {
    color: #7f7f7f;
}


/* contacts */

.ending {
    clear: both;
    height: 20px;
}




/* inner content */
.inner-content {
    margin-top: 33px;
    margin-bottom: 50px;
}

.inner-content .section-menu {
    border-top: 4px solid #389674;
    line-height: 32px;
    margin-bottom: 64px;
    padding-left: 13px;
    padding-top: 13px;
}

.inner-content .section-menu a, .inner-content .section-menu h4 {
    font-size: 14px;
    font-family: 'OpenSansRegular', sans-serif;
    font-weight: normal;
}

.inner-content .section-menu a {
    color: #4b8a71;
}

.inner-content .section-menu ul {
    list-style-type: none;
}

.inner-content .left-col {
    width: 277px;
}

.inner-content .right-col {
    margin-left: 24px;
    width: 612px;
}

.section-content-header {
    border-top: 4px solid #515151;
    border-bottom: 1px solid #515151;
    margin-bottom: 24px;
}

.section-content-header h1 {
    color: #252525;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 16px;
    margin-top: 9px;
    text-transform: uppercase;
}

ul.breadcrumbs {
    list-style-type: none;
    padding-top: 9px;
}

.breadcrumbs li:first-child {
    background: none;
    padding-left: 16px;
}

.breadcrumbs li {
    background: url("../images/sprite.png") no-repeat scroll -2px -308px transparent;
    display: inline;
    padding-left: 19px;
}

.breadcrumbs li a {
    color: #a1a1a1;
    font-size: 12px;
    font-family: 'OpenSansRegular', sans-serif;
}

.inner-content .section-content {
    font-size: 14px;
    font-family: 'OpenSansRegular', sans-serif;
    color: #252525;
    line-height: 22px;
}

.inner-content .section-content .image img {
    float:left;
    margin-right: 19px;
}

.inner-content .section-content .image {
    color: #7B7B7B;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 29px;
    margin-top: 22px;
}


.inner-content .section-item p, .inner-content .section-header a {
    font-size: 12px;
}

.inner-content .section-item p {
    line-height: 20px;
}

/* inner-content */

/* generic headers */
.section-content h1 {
    font-size: 24px;
    font-family: Arial, sans-serif;
    color: #5282ae;
    font-weight: normal;
    margin: 16px;
}
.section-content h2 {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #53a555;
    font-weight: normal;
    margin: 16px;
}
.section-content h3 {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #4d4d4d;
    font-weight: bold;
    margin: 16px;
}
.section-content h4 {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #545454;
    font-weight: normal;
    margin: 16px;
}
.section-content h5 {
    font-size: 12px;
    font-family: Arial, sans-serif;
    color: #7e7e7e;
    font-weight: normal;
    font-style: italic;
    margin: 16px;
}




/* masked images */



.category-item {
    display: inline-block;
    margin-right: 62px;
    margin-top: 5px;
    vertical-align: top;
    width: 162px;
    zoom: 1;
    *display: inline;
}

.category-item label {
    display: block;
    text-align: center;
    width: 195px;
    margin-left: -9px;
}

.category-item label h5 {
    text-align: left;
}

.masked-cat {
    display: block;
    height: 182px;
    position: relative;
    width: 172px;
}

.cat-image {
    background-position: center center;
    background-repeat: no-repeat;
    height: 182px;
    position: absolute;
    width: 172px;
}

.cat-mask {
    position: absolute;
    width: 172px;
    height: 182px;
    background: url('../images/cat-holder.png');
}


.cat-wrap {
    width: 600px;
}

.cat-wrap {
    width: 700px;
    margin-left: -7px;
}



