.debug .wrap, .debug .footer {
    opacity: 0.8
}

.debug .dev-layout-main {
    background: url('../images/niikif-index-layout.jpg') top center no-repeat;
    position: absolute;
    height: 1616px;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: -1;
}


/* some resets */
html, body, div, h1, h2, h3, h4, ul, table, p {
    margin: 0;
    padding: 0;
}
/* end of some resets */

/* sticky footer */
html, body, .wrap { height: 100%; }

body > .wrap {height: auto; min-height: 100%;}

.main { padding-bottom: 150px; }  /* must be same height as the footer */

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;}

/* CLEAR FIX*/
.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* end of sticky footer */



/* centered main block*/
.main, .footer {
    left: 50%;
    margin-left: -471px;
    position: relative;
    width: 941px;
}
/* end of centered main block */

a {
    color: #DC5A00;
}

h1,h2,h3,h4,h5 {
    font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
}

/* custom blocks */

.header {
    height: 188px;
}

.header .logo {
    background: url('../images/logo.gif') -29px 0 no-repeat;
    text-indent: -9999px;
    height: 188px;
}


.left-col {
    width: 457px;
    float: left;
    margin-right: 27px;
}

.right-col {
    width: 457px;
    float: left;
}

/* main menu */

.main-menu {
    border-collapse: collapse;
    border-top: 3px solid #389674;
    border-bottom: 1px solid #389674;
    font-size: 12px;
    font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
    height: 49px;
    margin: 39px 0 0;
    padding: 0;
    text-align: justify;
    width: 100%;
}

.main-menu td {
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-menu span, .main-menu a {
    line-height: 45px;
    padding: 0 8px;
    display: block;
}

.main-menu span {
    background: none repeat scroll 0 0 #389674;
    color: #FFFFFF;
}

.main-menu a {
    color: #389674;
    background: #fff;
    text-decoration: none;
}

/* main menu */


/* main submenu */

.submenu {
    list-style-type: none;
    padding: 10px 10px;
    margin-top: -3px;
}

.submenu li {
    color: #DC5A00;
    float: left;
    font-family: 'OpenSansRegular',sans-serif;
    font-size: 13px;
    line-height: 28px;
    margin-right: 27px;
}

.submenu li a {
    color: #DC5A00;
}

/* main submenu */


/* main-b */
.main-b h2 {
    text-indent: -9999px;
}

.main-b .left-col ul {
    margin-left: 44px;
    margin-top: 74px;
    list-style-type: circle;
}

.main-b .right-col ul {
    margin-left: 51px;
    margin-top: 83px;
    list-style-type: circle;
}

.main-b ul a, .main-b ul li {
    color: #FFFFFF;
    font-family: 'OpenSansRegular',sans-serif;
}

.main-b .left-col ul li {
    margin-top: 5px;
}

.main-b .right-col ul li {
    margin-top: 10px;
}

.main-b .left-col ul a, .main-b .left-col ul li {
    font-size: 14px;
    line-height: 15px;
}

.main-b .right-col ul a, .main-b .left-col ul li {
    font-size: 16px;
    line-height: 17px;
}

.main-b .left-col {
    height: 380px;
    background: url('../images/main-bg.jpg') 0 0 no-repeat;
}

.main-b .right-col {
    height: 380px;
    background: url('../images/main-bg.jpg') 0 -380px no-repeat;
}


/* main-b */


/* main-content */
.main-content {
    clear: both;
    font-family: 'OpenSansRegular',sans-serif;
    font-size: 12px;
    margin-top: 12px;
}

.main-content .left-col {
    width: 617px;
}

.main-content .right-col {
    margin-left: 22px;
    width: 274px;
}


.section-header {
    border-bottom: 1px solid #515151;
    border-top: 4px solid #515151;
    height: 41px;
    line-height: 42px;
    margin-bottom: 8px;
    margin-top: 21px;
}

.section-header h3 {
    float: left;
    font-size: 13px;
    margin-left: 14px;
    color: #252525;
}

.section-header a {
    float: right;
    margin-right: 10px;
}

.main-content .right-col .section-header h3 {
    float: left;
    font-size: 13px;
    margin-left: 9px;
}



.main-content .big-first-letter:first-letter {
    display: block;
    float: left;
    font-size: 62px;
    line-height: 52px;
    margin-left: -10px;
}

.main-content p {
    line-height: 20px;
    padding-left: 10px;
    font-size: 11px;
    letter-spacing: 0.63px;
    margin-top: 2px;
}

.main-content .right-col p {
    padding-left: 2px;
}

.section-item {
    margin-bottom: 3px;
}

/* main-content */




/* pre-footer */
.pre-footer {
    margin-top: 47px;
}

.pre-footer .item {
    float: left;
    width: 200px;
    margin-left: 20px;
}

.pre-footer .item .img-holder {
    width: 200px;
    height: 200px;
    float: right;
}

.pre-footer .b-right {
    margin-left: 20px;
}

.pre-footer h2 {
    font-family: 'OpenSansSemibold', sans-serif;
    font-size: 23px;
    width: 200px;
    float: left;

}

/* pre-footer */



